<div class="tracklist" data-slug="<%= @tracklist.slug %>">
  <div class="tracklist__background"></div>

  <header class="tracklist__wrapper tracklist__current">
    <%= render 'tracks/track', big: true %>
  </header>

  <main class="tracklist__content">
    <div class="tracklist__wrapper">
      <div class="tracklist__search">
        <%= use :spinner, 'tracklist__search-spinner' %>
        <input class="tracklist__search-input" spellcheck="false" autocomplete="false" id="search"/>
        <label class="tracklist__search-placeholder" for="search">Search for a song</label>
        <ul class="tracklist__search-results"></ul>
      </div>

      <div class="tracklist__tracks"></div>
    </div>
  </main>

  <footer class="tracklist__footer">
    <span class="tracklist__link">
      <label class="tracklist__link-label">Link</label>
      <input class="tracklist__link-input"/>
    </span>
  </footer>
</div>
