<div class="tracklist">
  <div class="tracklist__background"></div>

  <header class="tracklist__wrapper">
    <div class="tracklist__cover"></div>
    <div class="tracklist__infos">
      <span class="tracklist__title">Verticool</span>
      <span class="tracklist__meta">Grand Blanc • 2016</span>
    </div>
  </header>

  <main class="tracklist__content">
    <div class="tracklist__wrapper">
      <div class="tracklist__search">
        <input class="tracklist__search-input" spellcheck="false" id="search"/>
        <label class="tracklist__search-placeholder" for="search">Search for a song</label>
      </div>

      <div class="tracklist__tracks"></div>
    </div>
  </main>

  <footer class="tracklist__footer">
    <span class="tracklist__link">
      <label class="tracklist__link-label">Link</label>
      <input class="tracklist__link-input"/>
    </span>
  </footer>
</div>
