.track
  display: flex

  &__cover, &__infos
    flex-grow: 0

  &__cover
    // TODO: remove
    background-image: image-url('tmpcover.png')

    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    width: 60px
    height: 60px
    border-radius: 10px
    flex-shrink: 0
    +max(medium)
      width: 40px
      height: 40px
      border-radius: 6px

  &__infos
    padding-left: 15px
    flex-shrink: 1

  &__title
    padding-top: 5px
    display: block
    font-size: 17px
    color: $grey
    +max(medium)
      font-size: 14px

  &__meta
    font-size: 9px
    color: transparentize($grey, .3)

  &--big
    display: block

  &--big &__cover
    width: 200px
    height: 200px
    border-radius: 30px
    box-shadow: $tracklist-box-shadow
    float: left
    +max(medium)
      width: 80px
      height: 80px
      border-radius: 15px

  &--big &__infos
    padding-left: 230px
    +max(medium)
      padding-left: 90px
      margin-bottom: -10px

  &--big &__title
    color: $white

  &--big &__meta
    color: transparentize($white, .5)

  &--small &__cover
    width: 40px
    height: 40px
    border-radius: 6px

  &--small &__title
    font-size: 14px

  +min(medium)
    &--big &__title
      font-size: 36px

    &--big &__meta
      font-size: 9px
